<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav mat-elevation-z10" [mode]="isSmallScreen ? 'over' : 'side'" [opened]="!isSmallScreen">
    <mat-toolbar color="primary">

    </mat-toolbar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary" class="menu">
      <div class="left">
        <button type="button" mat-button (click)="drawer.toggle()" class="toggle-btn">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="right"></div>
      <button type="button" mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
    <button mat-fab color="accent" (click)="openDialog()"><mat-icon>add</mat-icon></button>

    <ng-container *ngIf="users$ | async as users else loader">
      <app-users-list [users]="users"></app-users-list>
    </ng-container>
  </div>

</mat-drawer-container>
<ng-template #loader>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>

</ng-template>
