<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
    <mat-toolbar color="primary">
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary" class="menu">
      <div class="left"></div>
      <div class="right">
      <button type="button" mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button></div>
    </mat-toolbar>
    <div class="items">
      <div class="item">item1</div>
      <div class="item">item2</div>
      <div class="item">item3</div>
    </div>
  </div>

</mat-drawer-container>
